<div class="lobby-item">
	<div class="lobby-item__name-box">
		<div class="lobby-item__name">{{ item.lobby }}</div>
		<img class="lobby-item__icon" src="assets/images/icons/lock.svg" alt="lock">
	</div>
	<div class="lobby-item__game-information">
		<div class="lobby-item__map-name">{{ item.map }}</div>
		<div class="lobby-item__num-scenario">Scenario №{{ item.scenario }}</div>
	</div>
	<div class="lobby-item__description">{{ item.description }}</div>
	<button class="lobby-item__join-button">Join</button>
</div>
