<form class="auth-form">
	<div class="auth-form__title">Login to your account</div>
	<div class="auth-form__input-auth  input-auth">
		<div class="input-auth__container">
			<div class="input-auth__form">
				<input class="input-auth__item" type="email" placeholder="Email">
			</div>
			<div class="input-auth__form">
				<input class="input-auth__item" type="password" placeholder="Password">
			</div>
		</div>
	</div>
	<div class="auth-form__button-container">
		<button class="auth-form__button button-auth">Login</button>
		<button class="auth-form__button button-auth button-auth--fill">Create</button>
	</div>
	<div class="auth-form__alternative">Sign in with</div>
	<div class="auth-form__social social">
		<img class="social__item" src="/assets/images//icons/google.svg" alt="google-icon">
		<img class="social__item" src="/assets/images//icons/discord.svg" alt="discord-icon">
	</div>
</form>
