<div>
	<header class="header">
		<ul class="header__list">
			<li class="header__list-item">
				<a routerLink="" class="header__link">Home</a>
			</li>

			<li class="header__list-item">
				<a routerLink="login" class="header__link">Login</a>
			</li>

			<li class="header__list-item">
				<a routerLink="registration" class="header__link">Registration</a>
			</li>

			<li class="header__list-item">
				<a routerLink="lobby" class="header__link">Lobby</a>
			</li>

			<li class="header__list-item">
				<a routerLink="game" class="header__link">Game</a>
			</li>
		</ul>
	</header>

	<router-outlet></router-outlet>
</div>
