<div>
	<h1>Discover unknown lands table game</h1>

	<ul class="list">
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-1.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-1.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-3.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-3.jpeg'"></app-map-cell>
		</li>
	</ul>

	<ul class="list">
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-1.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-3.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell *ngIf="false" [image]="'assets/images/test-image-3.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
	</ul>

	<ul class="list">
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-1.jpeg'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-2.png'"></app-map-cell>
		</li>
		<li class="list__item">
			<app-map-cell [image]="'assets/images/test-image-3.jpeg'"></app-map-cell>
		</li>
	</ul>
</div>
