<div class="map">
	<h1 class="map__title">Select your map</h1>

	<ul class="map__list">
		<li class="map__list-item" (click)="generateMap('valley')">Valley</li>
		<li class="map__list-item" (click)="generateMap('bayou')">Bayou</li>
		<li class="map__list-item" (click)="generateMap('badlands')">Badlands</li>
		<li class="map__list-item" (click)="generateMap('island')">Island</li>
		<li class="map__list-item" (click)="generateMap('snow-mountain')">Snowy Mountain</li>
		<li class="map__list-item" (click)="generateMap('desert')">Desert</li>
	</ul>

	<canvas #map width="2200" height="1800"></canvas>
</div>
