<div class="map">
	<div class="map__row">
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
	</div>
	<div class="map__row">
		<div class="map__tile">
			<app-map-tile [tileData]="tileData2"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData2"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData2"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData2"></app-map-tile>
		</div>
	</div>
	<div class="map__row">
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
		<div class="map__tile">
			<app-map-tile [tileData]="tileData"></app-map-tile>
		</div>
	</div>
</div>
