@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.form {
	width: 60%;
	background: rgba(105, 49, 16, 0.5);
	padding: 50px 80px;
	font-family: 'Plus Jakarta Sans', sans-serif;

	&__title {
		font-size: 36px;
		color: #fff;
		text-align: center;
		font-weight: 300;
	}
}
