<div class="form">
	<div class="form__title">Create your account</div>
	<div class="form__input input">
		<div class="input__container">
			<input class="input__item" type="email" placeholder="Email">
		</div>
		<div class="input__container">
			<input class="input__item" type="text" placeholder="Username">
		</div>
		<div class="input__container">
			<input class="input__item" type="password" placeholder="Password">
		</div>
		<div class="input__container">
			<input class="input__item" type="password" placeholder="Repeat password">
		</div>
		<button>Create</button>
	</div>

</div>
