<form class="auth-form">
	<div class="auth-form__title">Create your account</div>
	<div class="auth-form__input input">
		<div class="input__container">
			<div class="input__form">
				<input class="input__item" type="email" placeholder="Email">
			</div>
			<div class="input__form">
				<input class="input__item" type="email" placeholder="Username">
			</div>
			<div class="input__form">
				<input class="input__item" type="password" placeholder="Password">

			</div>
			<div class="input__form">
				<input class="input__item" type="password" placeholder="Repeat password">
			</div>
		</div>
		<button class="auth-form__button button-auth button-auth--fill">Create</button>
	</div>
</form>
